table {
  width: calc(100% - 13px);
  text-align: left;
}

.tableContainer {
  overflow: auto;
  width: 100vw;
  height: 100%;
}

.trContent {
  cursor: pointer;
}


input {
  width: 100%;
}

.mat-table {
  background: transparent;
}

mat-form-field {
  width: 95%;
  margin-top: 10px;
  z-index: 1000;
}

mat-paginator {
  z-index: 1000;
  background: transparent;
}

mat-spinner {
  top: calc(50% - 50px);
  margin: auto;
}

.context-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  vertical-align: text-top;
  margin-right: 5px;
}
