.header {
  height: 298px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.track, .album, .artists {
  padding: 24px;
  display: flex;
  width: 50%;
  transition: width 0.5s;
}

.album, .artists {
  width: 25%;
}

.track:hover {
  width: 70%;
}

.album:hover {
  width: 35%;
}

.track:hover ~ .album, .track:hover ~ .artists, .album:hover ~ .artists {
  width: 15%;
}

.artist-cell {
  cursor: pointer;
  position: absolute;
  width: 125px;
  height: 175px;
  top: calc(50% - 125px / 2);
  transition: left 0.5s, opacity 0.25s;
}

.track:hover ~ .artists .artist-cell.first, .album:hover ~ .artists .artist-cell.first {
  left: calc(50% - 125px / 2) !important;
}

.track:hover ~ .artists .artist-cell:not(.first), .album:hover ~ .artists .artist-cell:not(.first) {
  opacity: 0;
}

.artists {
  position: relative;
  display: block;
  align-items: center;
}

.artist-portrait {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin: 0;
}

.divider {
  /*noinspection CssInvalidFunction*/
  box-shadow: -15px 4px 21px -4px rgb(0 0 0 / 40%);
  position: relative;
  height: 298px;
  top: -24px;
  background: #303030;
  width: 50px;
  margin-left: auto;
  transform: skew(-15deg);
}

.basic-data {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  max-width: calc(100% - 315px);
}


.basic-data > h1 {
  font-size: 74px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 84px;
  line-height: 74px;
}

img {
  height: 250px;
  width: 250px;
}

.bottom-row {
  display: flex;
}

.artist {
  font-weight: 500;
}

.artist:hover {
  text-decoration: underline;
  cursor: pointer;
}


h4 {
  margin: 0;
}
