<div class="wrapper">
  <ng-container *ngIf="didLoadTracks">
    <div class="top-lists">
      <div class="top-column" #topArtists>Top Artists</div>
      <div class="top-column" #topAlbums>Top Albums</div>
      <div class="top-column" #topSongs>
        <div class="top-card" *ngIf="topTrack != null">
          <div class="image"
               style="background-image: linear-gradient( rgba( {{topTrackAvgColor.r}}, {{topTrackAvgColor.g}}, {{topTrackAvgColor.b}}, 0),
               rgba({{topTrackAvgColor.r}}, {{topTrackAvgColor.g}}, {{topTrackAvgColor.b}}, 1) ), url({{topTrack.track.album.images[0].url}});"></div>
          <div class="top-meta">
            <h1><b>{{topTrack.track.name}}</b></h1>
            <h2>{{topTrack.track.artists[0].name}}</h2>
            <h4>Played {{topTrack.timesPlayed}} times</h4>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="progress-bar-container" *ngIf="!didLoadTracks">
    <mat-progress-bar color="primary" [value]="this.dataSharing.historyLoadingProgress * 100"></mat-progress-bar>
    <sub class="progress-text">{{this.dataSharing.historyLoadingProgress * 100 | number:'1.0-0'}}%</sub>
  </div>
</div>
