.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

mat-card {
  width: calc(100% - 50px);
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 1000px) {
  mat-card {
    width: calc(50% - 50px);
  }
}

mat-progress-bar {
  top: calc(50% - 50px);
  margin: auto;
  width: 50%;
}


.mat-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

