.wrapper {
  display: block;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  position: fixed;
  left: 0;
  top: 64px;
  right: 0;
  z-index: 3;
  box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.12)
}

.top-lists {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

mat-divider {
  width: 96vw;
  border-top-width: 2px;
  margin: 10vw auto;
}

mat-spinner {
  width: 100px;
  height: 100px;
  margin: auto;
  top: calc((100% - 100px) / 2);
}

mat-form-field {
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .mat-divider {
    margin: 20px auto;
  }
}

@media (max-width: 599px) {
  .wrapper {
    overflow-y: visible;
  }

  .header {
    top: 56px;
  }
}

.progress-bar-container {
  top: calc(50% - 50px);
  margin: auto;
  width: 50%;
  position: relative;
}

.progress-text {
  right: 0;
  position: absolute;
}

