<div class="header" *ngIf="didLoadTracks">
  <nav backgroundColor="primary" mat-tab-nav-bar>
    <a [style.opacity]="activeLink === link ? 1: .6" mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link; onLinkChanged()"
       [active]="activeLink === link">{{link}}</a>
    <a [style.opacity]="activeLink === lastLink ? 1: .6" mat-tab-link (click)="activeLink = lastLink; onLinkChanged()"
       [active]="activeLink === lastLink">
      Custom
      <mat-form-field appearance="fill">
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker (opened)="activeLink = lastLink" #picker></mat-date-range-picker>
      </mat-form-field>
    </a>
  </nav>
</div>

<div class="wrapper">
  <ng-container *ngIf="didLoadTracks">
    <ng-scrollbar appearance="standard">

      <div class="top-lists mat-app-background" id="top-lists">
        <app-history-stats-top-content-list
          [contentList$]="topArtists.asObservable()" circularImage="true"></app-history-stats-top-content-list>
        <app-history-stats-top-content-list
          [contentList$]="topAlbums.asObservable()"></app-history-stats-top-content-list>
        <app-history-stats-top-content-list
          [contentList$]="topTracks.asObservable()"></app-history-stats-top-content-list>
        <app-history-stats-top-content-list
          [contentList$]="topContexts.asObservable()"></app-history-stats-top-content-list>
      </div>
      <mat-divider></mat-divider>
      <app-history-stats-small-stats [historyStatsData]="historyStatsData"></app-history-stats-small-stats>
      <mat-divider></mat-divider>
      <app-history-stats-graph [historyStatsData]="historyStatsData"></app-history-stats-graph>
      <mat-divider></mat-divider>
    </ng-scrollbar>
  </ng-container>
  <div class="progress-bar-container" *ngIf="!didLoadTracks">
    <mat-progress-bar color="primary" [value]="this.dataSharing.historyLoadingProgress * 100"></mat-progress-bar>
    <sub class="progress-text">{{this.dataSharing.historyLoadingProgress * 100 | number:'1.2-2'}}%</sub>
  </div>
</div>
