<mat-toolbar class="mat-elevation-z6 topToolbar" color="primary">
  <div #left>
    <button mat-button class="title" (click)="redirect()">
      <mat-icon class="home-icon">home</mat-icon>
      Home
    </button>
    <ng-container #navButtonWrapper *ngIf="cookie.isLoggedIn() && breakpointObserver.isMatched('(min-width: 650px)')">
      <button mat-button [routerLink]="'actions'">Actions</button>
      <button mat-button [routerLink]="'saved-track-list'">Saved Tracks</button>
      <button mat-button [routerLink]="'track-history'">Track History</button>
      <button mat-button [routerLink]="'history-stats'">History Statistics</button>
    </ng-container>
  </div>

  <div #right>
    <app-menu
      [options]="options"
      [theme]="selectedTheme"
      (themeChange)="themeChangeHandler($event)">
    </app-menu>
    <button mat-button *ngIf="cookie.isLoggedIn() && breakpointObserver.isMatched('(min-width: 650px)')"
            [matMenuTriggerFor]="profileMenu">{{api.userId}}</button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="logout()" matTooltip="Logout">Logout</button>
    </mat-menu>
    <button mat-icon-button *ngIf="cookie.isLoggedIn() && !breakpointObserver.isMatched('(min-width: 650px)')"
            [mat-menu-trigger-for]="hamburgerMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #hamburgerMenu="matMenu">
      <button mat-menu-item [routerLink]="'saved-track-list'">Saved Tracks</button>
      <button mat-menu-item [routerLink]="'track-history'">Track History</button>
      <button mat-menu-item [routerLink]="'history-stats'">History Statistics</button>
      <button mat-menu-item (click)="logout()" matTooltip="Logout">Logout</button>
    </mat-menu>
    <span class="version">v{{version}}</span>
  </div>

</mat-toolbar>

<router-outlet class="outlet"></router-outlet>
