<div class="main-card" (click)="onCardClick()">
  <mat-card class="card-body">
    <div class="card-front">
      <img mat-card-image [src]="getImageForPlaylist()" alt="Album Cover">
    </div>
    <div class="card-back" matRipple>
      <mat-card-header>
        <mat-card-title [matTooltip]="playlist.name">{{playlist.name}}</mat-card-title>
        <mat-card-subtitle>{{playlist.owner.display_name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <ng-container *ngFor="let stat of stats">
            <dt class="mat-card-subtitle">{{stat.key}}</dt>
            <dd>{{stat.value}}</dd>
          </ng-container>
        </dl>

      </mat-card-content>
      <mat-card-footer>
        <mat-icon *ngIf="!playlist.public" matTooltip="Private">public_off</mat-icon>
        <mat-icon matTooltip="Collaborative" *ngIf="playlist.collaborative">group</mat-icon>
      </mat-card-footer>
    </div>

  </mat-card>
</div>
