<div class="main-card" (click)="onCardClick()">
  <mat-card class="card-body">
    <div class="card-front">
      <img mat-card-image [src]="getImageForPlaylist()" alt="Album Cover">
    </div>
    <mat-card-content matRipple class="card-back">
      <mat-card-footer>
        <mat-card-title>{{playlist.name}}</mat-card-title>
        <mat-card-subtitle>
          <mat-icon *ngIf="!playlist.public" matTooltip="Private">public_off</mat-icon>
          <mat-icon matTooltip="Collaborative" *ngIf="playlist.collaborative">group</mat-icon>
          {{playlist.owner.id}}</mat-card-subtitle>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
  <!---->
</div>
