.list-header {
  padding: 24px;
  display: flex;
}

.basic-data {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  width: calc(100% - (15px + 2 * 24px + 200px));
}

.basic-data > h1 {
  font-size: xx-large;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
}

img {
  height: 250px;
  width: 250px;
}

.bottom-row {
  display: flex;
}

.username {
  font-weight: 500;
}

h4 {
  margin: 0;
}



@media (max-width: 999px) {
  .list-header {
    flex-direction: column;
    padding: 12px;
    text-align: left;
    margin: 0;
  }
  img {
    height: 250px;
    width: 250px;
    margin: 0 auto;
  }
  .basic-data {
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
  }
}
@media (max-width: 332px) {
  img {
    height: 75vw;
    width: 75vw;
    margin: 0 auto;
  }
}

