<div [style.background]="this.backgroundColor" class="wrapper">
  <ng-scrollbar appearance="standard">
  <app-track-list-header [contextObject]="this.getContextObject()"
                         [tracksSource]="this.playlistTracksSource.asObservable()"
                         (bgChanged)="this.backgroundColor = $event"></app-track-list-header>
  <app-track-list initialSort="added_at"
                  [data]="this.playlistTracksSource.asObservable()"
                  [displayedColumns]="['title', 'album', 'artist', 'length', 'added_at', 'added_by']"></app-track-list>
  </ng-scrollbar>
</div>
