<div class="wrapper">
  <div class="tableContainer">
    <mat-form-field>
      <mat-label>
        <mat-icon>search</mat-icon>
        Search
      </mat-label>
      <input autocomplete="off" name="search" (input)="onSearchChanged($event)" [value]="search" matInput>
    </mat-form-field>
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource">

      <ng-container #title matColumnDef="title">
        <th mat-header-cell mat-sort-header="title" *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let track" (click)="onRowClick(track.track.id)"> {{track.track.name}}</td>
      </ng-container>

      <ng-container matColumnDef="album">
        <th mat-header-cell mat-sort-header="album" *matHeaderCellDef>Album</th>
        <td mat-cell *matCellDef="let track" (click)="onRowClick(track.track.id)"> {{track.track.album.name}}</td>
      </ng-container>

      <ng-container matColumnDef="artist">
        <th mat-header-cell mat-sort-header="artist" *matHeaderCellDef>Artist</th>
        <td mat-cell *matCellDef="let track" (click)="onRowClick(track.track.id)"> {{getArtists(track)}}</td>
      </ng-container>

      <ng-container matColumnDef="length">
        <th mat-header-cell mat-sort-header="length" *matHeaderCellDef>Length</th>
        <td mat-cell *matCellDef="let track"
            (click)="onRowClick(track.track.id)"> {{getFormattedDuration(track.track.duration_ms)}}</td>
      </ng-container>

      <ng-container matColumnDef="added_at">
        <th mat-header-cell mat-sort-header="added_at" *matHeaderCellDef>Added at</th>
        <td mat-cell *matCellDef="let track"
            (click)="onRowClick(track.track.id)"> {{getFormattedDate(track.added_at)}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="trContent mat-list-option"></tr>
    </table>
    <mat-paginator [pageSize]="15" [pageSizeOptions]="[10,15,25,50,100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
