/* You can add global styles to this file, and also import other style files */
@import './assets/indigo-pink.css';
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@fortawesome/fontawesome-free/css/all.css";


html,
body {
  margin: 0;
}

app-overview {
  display: flex;
  margin: 0;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Roboto, 'lucida grande', verdana, helvetica, arial, sans-serif;
}

app-overview > .ng-star-inserted {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.mat-header-cell {
  padding: 5px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 18vw !important;
  max-width: 18vw;
}

.mat-cell {
  padding: 5px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 18vw !important;
  max-width: 18vw;
}

.wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
}

@media (max-width: 599px) {
  body {
    height: calc(100vh - 56px);
    top: 56px;
  }
}
