.button {
  top: calc(50% - 125px);
  height: 37.5vw;
  width: 75vw;
  font-size: 10vw;
}

@media (min-width: 600px) {
  .button {
    height: 250px;
    width: 500px;
    font-size: 5em;
  }
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

app-playlist-card {
  margin: 5px;
  outline: none;
}
