.button {
  top: calc(50% - 125px);
  height: 37.5vw;
  width: 75vw;
  font-size: 10vw;
}

@media (min-width: 600px) {
  .button {
    height: 250px;
    width: 500px;
    font-size: 5rem;
  }
}

.main-content {
  display: grid;
  grid-template-rows: repeat(auto-fill, 300px);
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 1em;
  justify-content: space-evenly;
  padding: 1em;
}

::ng-deep .mat-card-footer {
  margin: 0 0 -16px 0 !important;
  padding: 0 16px;
  white-space: nowrap;
}

::ng-deep .mat-card-footer > .mat-card-title {

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

app-playlist-card {
  height: 300px;
  width: 300px;
  outline: none;
}
